:root{
    
    --primary_dark:#303030;
    --secondary_dark:#96bdf8d8;
    --primary_dark_BG:#1a1a1a;


    
    --primary_light:#303030;
    --secondary_light:#96bdf8d8;
    --primary_dark_light:#1a1a1a;
}